html{
    background-color:#00539F;
}

body{
    width: 800px;
    margin:0 auto;
    background-color:aquamarine;
    padding: 0 20px 20px 20px;
    border:5px silver;
}

h1{
    margin:0;
    padding:20px 0;
    color:#65a7e6;
    text-shadow:3px 3px 1px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

img{display:block;
    margin:0 auto;
    height: 200px;
    width: 300px;
}

p{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: small;
   text-align: center;
   text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.452);
   color: #00539F;
}